#!/bin/bash

FILENAME="/root/inventory"

echo "# Creating file ${FILENAME}'"

cat > ${FILENAME} << EOF
[myself]
workstation.example.com
[servers]
node2.example.com
node3.example.com
EOF

echo "# Here are the contents of ${FILENAME}"

cat ${FILENAME}
