#!/bin/bash

##
## NOTE THAT THE SOURE OF THIS FILE HAS TO ESCAPE THE CURLY BRACKETS
## THE DEPLOYED VERSION OF THIS FILE WILL NOT BE ESCAPED
##

FILENAME="/root/roles/motd/templates/motd.j2"

echo "# Creating file ${FILENAME}'"

cat > ${FILENAME} << EOF
This is the system {{ '{{' }} ansible_hostname {{ '}}' }}.

Today’s date is: {{ '{{' }} ansible_date_time.date {{ '}}' }}.

Only use this system with permission.
You can ask {{ '{{' }} system_owner {{ '}}' }} for access.
EOF

echo "# Here are the contents of ${FILENAME}"

cat ${FILENAME}
