---
- hosts: node1.example.com
  handlers:
  
    - name" SETUP PERFTUNE (HANDLER): restart pmlogger
      service: name=pmlogger state=restarted
      listen: "restart pmlogger"
      
  tasks:

    - name: "SETUP PERFTUNE: install packages"
      yum: name=pcp,pcp-gui,numad,numactl state=installed

    - name: "SETUP PERFTUNE: system service settings"
      service: name="{{ item.svc }}" state=stopped enabled=no
      with_items:
        - {svc: pmcd}
        - {svc: pmlogger}
        - {svc: numad}

    - name: "SETUP PERFTUNE: pmlogger config install"
      template:
        src: "pmlogger-control.j2"
        dest: "/etc/pcp/pmlogger/control"
        owner: root
        group: root
        mode: 0644
      notify: "pmlogger restart"

    - name: "SETUP PERFTUNE: cheat script installs"
      template:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        owner: root
        group: root
        mode: 0755
      with_items:
        - {src: 'cheat-checkhost.j2', dest: '/usr/local/bin/cheat-systemd-perftune.sh'}
