---
- hosts: node1.example.com
  tasks:

    - name: "SETUP ANSIBLE: install packages"
      yum: name=ansible,rhel-system-roles state=installed

    - name: "SETUP ANSIBLE: cheat script installs"
      template:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        owner: root
        group: root
        mode: 0755
      with_items:
        - {src: 'cheat-checkhost.j2', dest: '/usr/local/bin/cheat-ansible-checkhost.sh'}
        - {src: 'cheat-ansible-config.j2', dest: '/usr/local/bin/cheat-ansible-config.sh'}
        - {src: 'cheat-ansible-inventory.j2', dest: '/usr/local/bin/cheat-ansible-inventory.sh'}
        - {src: 'cheat-ansible-motd-playbook.j2', dest: '/usr/local/bin/cheat-ansible-motd-playbook.sh'}
        - {src: 'cheat-ansible-motd-tasks.j2', dest: '/usr/local/bin/cheat-ansible-motd-tasks.sh'}
        - {src: 'cheat-ansible-motd-templates.j2', dest: '/usr/local/bin/cheat-ansible-motd-templates.sh'}
        - {src: 'cheat-ansible-motd-defaults.j2', dest: '/usr/local/bin/cheat-ansible-motd-defaults.sh'}
