---
- hosts: node1.example.com
  tasks:

    - name: "SETUP STORAGE: install packages"
      yum: name=system-storage-manager state=installed        

    - name: SETUP STORAGE (identify disk)
      shell: 
        cmd: |
          if [[ -e /dev/vdb ]] ; then
            echo "/dev/vdb"
          elif [[ -e /dev/sdb ]] ; then
            echo "/dev/sdb"
          else
            ## Exit non zero to generate an error
            exit 1
          fi
      register: mydisk
      
    - name: "SETUP STORAGE: mydisk identified as =>  "
      debug:
      var: mydisk

    - name: SETUP STORAGE (disk partitions and sync)
      shell: 
        cmd: |
          # Create new partition table
          printf "o\nn\ne\n1\n\n\nw\n" | /sbin/fdisk {{ mydisk }}
          # Create 6x 1G partitions
          for i in {1..6} ; do printf "n\nl\n\n+1G\nw\n" | /sbin/fdisk {{ mydisk }} ; sleep 3; done
          # Create 1x 10G partition
          printf "n\nl\n\n+10G\nw\n" | /sbin/fdisk {{ mydisk }} ; sleep 3
          # Sync Changes
          /sbin/partprobe

    - name: "SETUP STORAGE: cheat script installs"
      template:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        owner: root
        group: root
        mode: 0755
      with_items:
        - {src: 'cheat-checkhost.j2', dest: '/usr/local/bin/cheat-storage-checkhost.sh'}
